body {
    background-color: #1a1a1b;
    color: #d7dadc;
  }
  .bg-gray-900 {
    background-color: #1a1a1b;
  }
  .bg-gray-800 {
    background-color: #272729;
  }
  .bg-gray-700 {
    background-color: #343536;
  }
  .text-gray-400 {
    color: #818384;
  }
  .text-white {
    color: #d7dadc;
  }
  .text-blue-500 {
    color: #0079d3;
  }