<!-- This is in progress W.I.P. -->
<!-- <link rel="stylesheet" href="components/navbar/navbar.css" /> -->

<nav
	class="bg-black w-full text-white h-14 px-3 py-2 border-b border-dark-gray border-solid"
>
	<ol class="flex flex-row justify-between items-center h-full">
		<li class="flex flex-row center gap-2">
			<!-- <my-icons-burger></my-icons-burger> -->
			<my-icons-reddit></my-icons-reddit>
			<my-icons-reddit-title
				class="w-20 h-10 text-white flex center"
			></my-icons-reddit-title>
		</li>
		<li
			class="flex flex-row justify-start bg-dark-gray rounded-full p-2 gap-1 items-center"
			style="width: 557px"
		>
			<my-icons-search></my-icons-search>
			<slot name="selectedPage"></slot>
			<div class="flex text-bodySmall text-gray">
				<p class="absolute">
					<slot name="searchText">Search Reddit</slot>
				</p>
				<input style="width: 557px" />
			</div>
		</li>
		<li>
			<ol class="flex flex-row gap-4 items-center justify-center">
				<li>
					<button>
						<my-icons-cursor-target></my-icons-cursor-target>
					</button>
				</li>
				<li>
					<button>
						<my-icons-chat-bubble></my-icons-chat-bubble>
					</button>
				</li>
				<li>
					<button class="flex flex-row center gap-1 text-bodySmall text-white">
						<my-icons-plus></my-icons-plus>
						Create
					</button>
				</li>
				<li>
					<button>
						<my-icons-bell></my-icons-bell>
					</button>
				</li>
				<li>
					<my-icons-user-profile></my-icons-user-profile>
				</li>
			</ol>
		</li>
	</ol>
</nav>
