<div
	slot="right-sidebar"
	class="h-screen overflow-y-scroll w-80 text-gray text-bodySmall"
>
	<div class="flex flex-col gap-3 p-5 rounded-2xl mt-10 bg-true-black">
		<p class="text-white"><b>GreenReddister123</b></p>
		<button class="flex flex-row items-center text-white">
			<span><my-icons-share></my-icons-share></span>
			<span>Share</span>
		</button>
		<div
			style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px"
		>
			<div class="flex flex-col">
				<p class="text-white">1</p>
				<p>Post Karma</p>
			</div>
			<div class="flex flex-col">
				<p class="text-white">0</p>
				<p>Comment Karma</p>
			</div>
			<div class="flex flex-col">
				<p class="text-white">Apr 13, 2018</p>
				<p>Cake day</p>
			</div>
			<div class="flex flex-col">
				<p class="text-white">0</p>
				<p>Gold earned</p>
			</div>
		</div>
		<my-hr></my-hr>
		<p>ACHIEVEMENTS</p>
		<div class="flex flex-row items-center">
			<div style="max-width: 100px" class="flex flex-row">
				<!--?lit$8997749031$--><!---->
				<div
					data-testid="achievement-entrypoint-image-container"
					class="cursor-pointer"
					style="z-index: 17"
				>
					<div
						class="achievement-flair"
						style="position: relative; width: 40px; height: 40px; z-index: 19"
					>
						<img
							class="absolute top-0 bottom-0 left-0 right-0"
							alt="Banana Enthusiast"
							style="z-index: 19"
							src="https://preview.redd.it/lh2kuxq4a6pd1.png?width=100&amp;height=100&amp;crop=smart&amp;auto=webp&amp;s=c045b7b9fea7c093767e636cd73989aa52fb1e7a"
							width="40"
							height="40"
						/>
					</div>
				</div>
				<!----><!---->
				<div
					data-testid="achievement-entrypoint-image-container"
					class="cursor-pointer"
					style="z-index: 14; transform: translateX(-40%)"
				>
					<div
						class="achievement-flair"
						style="position: relative; width: 40px; height: 40px; z-index: 16"
					>
						<img
							class="absolute top-0 bottom-0 left-0 right-0"
							alt="Banana Beginner"
							style="z-index: 16"
							src="https://preview.redd.it/bgq6nx92a6pd1.png?width=100&amp;height=100&amp;crop=smart&amp;auto=webp&amp;s=ae3a3cf7109a7b487e04d24899b3824da56ab4f8"
							width="40"
							height="40"
						/>
					</div>
				</div>
				<div
					data-testid="achievement-entrypoint-image-container"
					class="cursor-pointer"
					style="z-index: 11; transform: translateX(-80%)"
				>
					<div
						class="achievement-flair"
						style="position: relative; width: 40px; height: 40px; z-index: 13"
					>
						<img
							class="absolute top-0 bottom-0 left-0 right-0"
							alt="Banana Baby"
							style="z-index: 13"
							src="https://preview.redd.it/fsx0sxlz96pd1.png?width=100&amp;height=100&amp;crop=smart&amp;auto=webp&amp;s=8c0fa355c102b7e66d6440183ae084b04ec74d77"
							width="40"
							height="40"
						/>
					</div>
				</div>
				<!---->
			</div>
			<div>
				<p>Banana Enthusiast,</p>
				<p>Banana Beginner, Banana Baby,</p>
				<p>+5 more</p>
			</div>
		</div>
		<div class="flex flex-row justify-between items-center">
			<p>8 unlocked</p>
			<button class="rounded-full px-3 py-2 bg-dark-gray text-white">
				View All
			</button>
		</div>
		<my-hr></my-hr>
		<p>SETTINGS</p>
		<div class="flex flex-row justify-between items-center">
			<div class="flex flex-row items-center">
				<my-icons-user-profile></my-icons-user-profile>
				<div class="flex flex-col">
					<div>
						<p class="text-white">Profile</p>
						<p>Customize your profile</p>
					</div>
				</div>
			</div>
			<button class="rounded-full px-3 py-2 bg-dark-gray text-white">
				Edit Profile
			</button>
		</div>
		<div class="flex flex-row justify-between items-center">
			<div class="flex flex-row items-center">
				<my-icons-avatar></my-icons-avatar>
				<div class="flex flex-col">
					<div>
						<p class="text-white">Profile</p>
						<p>Customize your profile</p>
					</div>
				</div>
			</div>
			<button class="rounded-full px-3 py-1 bg-dark-gray text-white">
				Style Avatar
			</button>
		</div>
		<div class="flex flex-row justify-between items-center">
			<div class="flex flex-row items-center">
				<my-icons-moderation></my-icons-moderation>
				<div class="flex flex-col">
					<div>
						<p class="text-white">Profile</p>
						<p>Customize your profile</p>
					</div>
				</div>
			</div>
			<button class="rounded-full px-3 py-1 bg-dark-gray text-white">
				Mod Settings
			</button>
		</div>
		<my-hr></my-hr>
		<p>LINKS</p>
		<div>
			<button
				class="rounded-full px-2 py-1 bg-dark-gray text-white items-center inline-flex flex-row"
			>
				<!-- <my-icons-plus></my-icons-plus> -->
				<span>Add Social Link</span>
			</button>
		</div>
		<my-hr>TROPHY CASE</my-hr>
		<div class="flex flex-row gap-4 items-center">
			<img
				src="https://www.redditstatic.com/awards2/verified_email-40.png"
				alt=""
			/>
			<p>Verified Email</p>
		</div>
		<div class="flex flex-row gap-4 items-center">
			<img
				src="https://www.redditstatic.com/awards2/6_year_club-40.png"
				alt=""
			/>
			<p>Six-Year Club</p>
		</div>
	</div>
</div>
