<div class="h-screen overflow-y-scroll w-72 text-gray text-bodySmall">
	<div
		class="flex flex-col gap-3 p-5 rounded-2xl mt-10"
		style="background-color: black"
	>
		<div class="flex flex-row justify-between">
			<p>RECENT POSTS</p>
			<p class="text-blue">Clear</p>
		</div>
		<ol class="flex flex-col gap-3">
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
		</ol>
	</div>
</div>
