<div class="h-screen overflow-y-scroll w-72 text-gray text-bodySmall">
	<div class="flex flex-col gap-3 p-5 rounded-2xl mt-10 bg-true-black">
		<div class="flex flex-row justify-between">
			<p>RECENT POSTS</p>
			<p class="text-blue">Clear</p>
		</div>
		<ol class="flex flex-col gap-3">
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_bjvc07/styles/communityIcon_niaj2pj80vqd1.jpg?format=pjpg&s=50959a92973638d95788deaee8734f71d67de62c"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SpaceMarine_2</p>
					<p slot="title">I slaughter tyranids cause im a Chill guy</p>
					<span slot="upvotes">90k</span>
					<span slot="comments">1.5k</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">Any modders here?</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_3oeyf/styles/communityIcon_rrdzpsn8g94e1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/FortNiteBR</p>
					<p slot="title">Godzilla rapping Godzilla in Jordans cannot be real</p>
					<span slot="upvotes">100k</span>
					<span slot="comments">5.5k</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_12967t/styles/communityIcon_rh7ocpigb9t51.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/BaldursGate3</p>
					<p slot="title">my luck is so on point I got 5 critical failures in a row</p>
					<span slot="upvotes">9k</span>
					<span slot="comments">313</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_2qmox/styles/communityIcon_r6keaskpkp8c1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/Piracy</p>
					<p slot="title">life is good when you have the entire netflix catalogue but you don't own netflix</p>
					<span slot="upvotes">3k</span>
					<span slot="comments">263</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_38p4n/styles/communityIcon_18tijx4k64nc1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/forhonor</p>
					<p slot="title">Why am I still here</p>
					<span slot="upvotes">20</span>
					<span slot="comments">1</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_26o362/styles/communityIcon_qqqm883dzxs31.png?width=48&amp;height=48&amp;frame=1&amp;auto=webp&amp;crop=48:48,smart&amp;s=1d453d2a9198c565d9be01b682218ebb01526225"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/arcane</p>
					<p slot="title">arcane were the friends we made along the way</p>
					<span slot="upvotes">999k</span>
					<span slot="comments">469k</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_26o362/styles/communityIcon_qqqm883dzxs31.png?width=48&amp;height=48&amp;frame=1&amp;auto=webp&amp;crop=48:48,smart&amp;s=1d453d2a9198c565d9be01b682218ebb01526225"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/arcane</p>
					<p slot="title">should I play league?</p>
					<span slot="upvotes">40k</span>
					<span slot="comments">20k</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
			<li>
				<my-recent-post-item>
					<img
						slot="threadIcon"
						src="https://styles.redditmedia.com/t5_32zku/styles/communityIcon_391sqfn02xzd1.png"
						alt="r/SwainMains icon"
					/>
					<p slot="threadName">r/SwainMains</p>
					<p slot="title">need more swain</p>
					<span slot="upvotes">9</span>
					<span slot="comments">2</span>
				</my-recent-post-item>
			</li>
			<my-hr></my-hr>
		</ol>
	</div>
</div>
