:root {
	--primary: #ff4500;
	--white: #ffffff;
	--black: #0e1113;
	--dark-gray: #2a3236;
	--light-gray: #3e4142;
	--gray: #849ba5;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Hide default scrollbar (Optional) */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--light-gray);
	border-radius: 4px;
}

.bg-red {
	background-color: red;
}

.bg-primary {
	background-color: var(--primary);
}
.text-primary {
	color: var(--primary);
}
.border-primary {
	border-color: var(--primary);
}
.bg-white {
	background-color: var(--white);
}
.text-white {
	color: var(--white);
}
.border-white {
	border-color: var(--white);
}
.bg-black {
	background-color: var(--black);
}
.text-black {
	color: var(--black);
}
.border-black {
	border-color: var(--black);
}

/* Background Classes */
.bg-dark-gray {
	background-color: var(--dark-gray);
}

.bg-light-gray {
	background-color: var(--light-gray);
}

.bg-gray {
	background-color: var(--gray);
}

/* Text Classes */
.text-dark-gray {
	color: var(--dark-gray);
}

.text-light-gray {
	color: var(--light-gray);
}

.text-gray {
	color: var(--gray);
}

/* Border Classes */
.border-dark-gray {
	border-color: var(--dark-gray);
}

.border-light-gray {
	border-color: var(--light-gray);
}

.border-gray {
	border-color: var(--gray);
}

/* Flutter-inspired Tailwind CSS text styles */
.text-headlineLarge {
	font-size: 2.25rem; /* 36px */
	font-weight: 700; /* Bold */
	line-height: 2.5rem; /* 40px */
}

.text-headlineMedium {
	font-size: 2rem; /* 32px */
	font-weight: 600; /* Semi-bold */
	line-height: 2.25rem; /* 36px */
}

.text-headlineSmall {
	font-size: 1.75rem; /* 28px */
	font-weight: 500; /* Medium */
	line-height: 2rem; /* 32px */
}

.text-titleLarge {
	font-size: 1.5rem; /* 24px */
	font-weight: 700; /* Bold */
	line-height: 1.75rem; /* 28px */
}

.text-titleMedium {
	font-size: 1.25rem; /* 20px */
	font-weight: 600; /* Semi-bold */
	line-height: 1.5rem; /* 24px */
}

.text-titleSmall {
	font-size: 1.125rem; /* 18px */
	font-weight: 500; /* Medium */
	line-height: 1.375rem; /* 22px */
}

.text-bodyLarge {
	font-size: 1rem; /* 16px */
	font-weight: 400; /* Normal */
	line-height: 1.5rem; /* 24px */
}

.text-bodyMedium {
	font-size: 0.875rem; /* 14px */
	font-weight: 400; /* Normal */
	line-height: 1.25rem; /* 20px */
}

.text-bodySmall {
	font-size: 0.75rem; /* 12px */
	font-weight: 400; /* Normal */
	line-height: 1rem; /* 16px */
}

.text-labelLarge {
	font-size: 0.875rem; /* 14px */
	font-weight: 600; /* Semi-bold */
	line-height: 1.25rem; /* 20px */
}

.text-labelMedium {
	font-size: 0.75rem; /* 12px */
	font-weight: 500; /* Medium */
	line-height: 1rem; /* 16px */
}

.text-labelSmall {
	font-size: 0.625rem; /* 10px */
	font-weight: 500; /* Medium */
	line-height: 0.875rem; /* 14px */
}

.page-padding {
	padding-top: 4rem;
	padding-left: 18rem;
	padding-right: 18rem;
}
